[Unit]
Description=Load Bitwarden Session
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/mevans/.dotfiles/scripts/bw-session.sh
RemainAfterExit=yes
RestartSec=5
StartLimitBurst=3
RuntimeMaxSec=3600
Restart=always

[Install]
WantedBy=default.target
