[Unit]
Description=Automatic Screen Locker

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XIDLEHOOK_SOCK=/tmp/xidlehook.sock
ExecStart=/usr/bin/xidlehook --socket /tmp/xidlehook.sock --not-when-audio --timer 600 '~/.local/bin/lock' ''

[Install]
WantedBy=multi-user.target
