[push]
    default = simple
    autoSetupRemote = true
[user]
	email = git@ml-evs.science
	name = Matthew Evans
	signingkey = A3024035F41D394B9DD8D03423031501566C022D
[merge]
  tool = vimdiff
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesFile = ~/.gitignore
