[push]
	default = simple
[user]
	email = git@ml-evs.science
	name = Matthew Evans
	signingkey = A3024035F41D394B9DD8D03423031501566C022D
[merge]
  tool = vimdiff
[commit]
	gpgsign = true
[gpg]
    program = gpg2
[init]
	defaultBranch = main
