*background:                      #181818
*foreground:                      #d8d8d8
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
!*color0:                          #222D31
*color0:                          #181818
*color8:                          #585858

!! red dark/light
*color1:                          #ab4642
*color9:                          #ab4642

!! green dark/light
*color2:                          #7E807E
*color10:                         #8D8F8D

!! yellow dark/light
*color3:                          #f7ca88
*color11:                         #f7ca88

!! blue dark/light
*color4:                          #7cafc2
*color12:                         #7cafc2

!! magenta dark/light
*color5:                          #ba8baf
*color13:                         #ba8baf

!! cyan dark/light
*color6:                          #1ABB9B
*color14:                         #1ABB9B

!! white dark/light
*color7:                          #d8d8d8
*color15:                         #f8f8f8

!Xcursor.theme: xcursor-breeze
!Xcursor.size:                     0

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.font : iosevka term medium 10
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #181818,#C5C8C6,#181818,#BA8BAF,#181818
! Color scheme for urgent row
rofi.color-urgent:                   #181818,#C5C8C6,#181818,#BA8BAF,#181818
! Color scheme for active row
rofi.color-active:                   #181818,#C5C8C6,#181818,#BA8BAF,#181818
! Color scheme window
rofi.color-window:                   #181818,#BA8BAF
! Separator style (none, dash, solid)
rofi.separator-style:                solid
rofi.location: 2
rofi.sidebar-mode : true
rofi.lines: 15
rofi.yoffset: 20
rofi.terminal: alacritty
rofi.combi-modi: drun
