Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.font : iosevka term medium 10
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #1b181b,#C5C8C6,#1b181b,#56bf8b,#1b181b
! Color scheme for urgent row
rofi.color-urgent:                   #1b181b,#C5C8C6,#1b181b,#56bf8b,#1b181b
! Color scheme for active row
rofi.color-active:                   #1b181b,#C5C8C6,#1b181b,#56bf8b,#1b181b
! Color scheme window
rofi.color-window:                   #1b181b,#56bf8b
! Separator style (none, dash, solid)
rofi.separator-style:                solid
rofi.location: 2
rofi.sidebar-mode : true
rofi.lines: 15
rofi.yoffset: 20
rofi.terminal: urxvt

URxvt.faceSize: 20
URxvt.loginShell : true
URxvt.lineSpace: 0
URxvt.saveLines: 10000

URxvt*font: xft:Input Mono:pixelsize=15
URxvt*letterSpace: 0
URxvt*scrollBar : false
