* {
    padding: 0 4px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    font-family: 'Iosevka Term Slab Medium', 'FontAwesome 5 Free Solid', monospace;
    font-size: 14px;
}
window#waybar {
    background-color: rgba(38, 38, 38, 0.4);
    /*border-bottom: 3px solid rgba(0, 0, 0, 0.8);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

#workspaces button {
    padding: 0 5px;
    color: black;
    border-bottom: 2px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inherit;
    border-bottom: 2px solid #ffffff;
}

/*#workspaces button.current_output {*/
/*    border-bottom: 2px solid #BA8BAF;*/
/*}*/

#workspaces button.visible {
    border-bottom: 2px solid #BA8BAF;
}


#workspaces button.focused {
    background-color: initial;
    color: initial;
    border-bottom: 2px solid #FABD2F;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-spotify,
#custom-tw,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    margin: 0 4px;
}

#battery.full {
    background-color: rgba(38, 38, 38, 0.4);
    color: #FFFFFF;
}

#temperature.critical {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.critical {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.charging:not(.full) {
    color: #B8BB26;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background-color: #D75F5F;
    color: #000000;
}

#custom-vpn {
    color: #FFAF00;
}

#custom-spotify {
    color: #1DB954;
}

#custom-tw {
    color: #FFAF00;
}
