configuration {
	font: "iosevka term nerd font 10";
	location: 2;
	yoffset: 20;
	terminal: "alacritty";
	sidebar-mode: true;
	combi-modi: "drun";
        show-icons: true;
}

//@theme "simple-tokyonight"
//@theme "/home/mevans/.local/share/rofi/themes/launchpad.rasi"
@theme "/home/mevans/.local/share/rofi/themes/simple-tokyonight.rasi"
